@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
}

:root {
  @apply bg-main-dark-blue;
  font-family: 'Montserrat';
}
a {
  @apply text-tertiary-blue;
}

input {
  background-color: transparent;

}