@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  @apply bg-transparent;
  font-family: 'Montserrat';
}

a {
  @apply text-tertiary-blue;
}

input {
  background-color: transparent;
}

.body--light-blue {
  @apply bg-light-blue;
}
.body--main-dark-blue {
  @apply bg-main-dark-blue;
}