.checkbox {
  @apply border border-solid rounded-sm relative inline-block m-0;
  -webkit-appearance: none;
}

.checkbox--medium {
  @apply p-2 h-2 w-2;
}

.checkbox--small  {
  @apply p-[5px] h-[10px] w-[10px];
}

.checkbox--main-dark-blue {
  @apply border-light-green bg-main-dark-blue
}
.checkbox--main-dark-blue:checked {
	@apply bg-light-green text-main-dark-blue;
}

.checkbox--white {
  @apply border-white bg-rich-black
}
.checkbox--white:checked {
  @apply bg-white text-rich-black;
}
.checkbox--medium.checkbox--main-dark-blue:checked:after,
.checkbox--medium.checkbox--rich-black:checked:after {
	@apply absolute h-full w-full;
  top: 1px;
  left: 1.5px;
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%229%22%20viewBox%3D%220%200%2013%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%204L5%208L12%201%22%20stroke%3D%22white%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}
.checkbox--small.checkbox--main-dark-blue:checked:after,
.checkbox--small.checkbox--rich-black:checked:after {
  @apply absolute h-full w-full;
  top: 1px;
  left: 1px;
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%228%22%20viewBox%3D%220%200%2011%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M1.25%203.5L4.25%206.5L9.5%201.25%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
}
.disabled {
  @apply border-white;
}

.checkbox--rich-black {
  @apply border-white bg-rich-black
}
.checkbox--rich-black:checked {
	@apply bg-white text-rich-black;
}
.checkbox--medium.checkbox--white:checked:after {
  @apply absolute h-full w-full;
  top: 1px;
  left: 1.5px;
  content: url('data:image/svg+xml,%3Csvg%20width=%2213%22%20height=%229%22%20viewBox=%220%200%2013%209%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M1%204L5%208L12%201%22%20stroke%3D%22%2300050B%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%3C/svg%3E');
}

.checkbox--small.checkbox--white:checked:after {
  @apply absolute h-full w-full;
  top: -2px;
  left: 0px;
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%228%22%20viewBox%3D%220%200%2011%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M1.25%203.5L4.25%206.5L9.5%201.25%22%20stroke%3D%22%2300050B%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E');
}