.bordered {
  @apply border border-solid box-border rounded-md;
}
.bordered--main-green {
  @apply border-main-green;
}
.bordered--main-dark-blue {
  @apply border-main-dark-blue;
}
.bordered--tertiary-blue {
  @apply border-tertiary-blue;
}
.bordered--error-red {
  @apply border-error-red;
}
.bordered--warning-yellow {
  @apply border-warning-yellow;
}
.bordered--dark-blue {
  @apply border-dark-blue;
}
.bordered--white {
  @apply border-white;
}
.bordered--rich-black {
  @apply border-rich-black;
}
.bordered--black-russian {
  @apply border-black-russian;
}
.bordered--fluorescent-cyan {
  @apply border-fluorescent-cyan;
}
.bordered--electric-purple {
  @apply border-electric-purple;
}
.bordered--giants-orange {
  @apply border-giants-orange;
}
.bordered--transparent {
  @apply border-none;
}
.bordered--main-green-100 {
  @apply border-main-green/100;
}
.bordered--main-dark-blue-100 {
  @apply border-main-dark-blue/100;
}
.bordered--tertiary-blue-100 {
  @apply border-tertiary-blue/100;
}
.bordered--error-red-100 {
  @apply border-error-red/100;
}
.bordered--warning-yellow-100 {
  @apply border-warning-yellow/100;
}
.bordered--dark-blue-100 {
  @apply border-dark-blue/100;
}
.bordered--white-100 {
  @apply border-white/100;
}
.bordered--rich-black-100 {
  @apply border-rich-black/100;
}
.bordered--black-russian-100 {
  @apply border-black-russian/100;
}
.bordered--fluorescent-cyan-100 {
  @apply border-fluorescent-cyan/100;
}
.bordered--electric-purple-100 {
  @apply border-electric-purple/100;
}
.bordered--giants-orange-100 {
  @apply border-giants-orange/100;
}
.bordered--main-green-70 {
  @apply border-main-green/70;
}
.bordered--main-dark-blue-70 {
  @apply border-main-dark-blue/70;
}
.bordered--tertiary-blue-70 {
  @apply border-tertiary-blue/70;
}
.bordered--error-red-70 {
  @apply border-error-red/70;
}
.bordered--warning-yellow-70 {
  @apply border-warning-yellow/70;
}
.bordered--dark-blue-70 {
  @apply border-dark-blue/70;
}
.bordered--white-70 {
  @apply border-white/70;
}
.bordered--rich-black-70 {
  @apply border-rich-black/70;
}
.bordered--black-russian-70 {
  @apply border-black-russian/70;
}
.bordered--fluorescent-cyan-70 {
  @apply border-fluorescent-cyan/70;
}
.bordered--electric-purple-70 {
  @apply border-electric-purple/70;
}
.bordered--giants-orange-70 {
  @apply border-giants-orange/70;
}
.bordered--main-green-30 {
  @apply border-main-green/30;
}
.bordered--main-dark-blue-30 {
  @apply border-main-dark-blue/30;
}
.bordered--error-red-30 {
  @apply border-error-red/30;
}
.bordered--warning-yellow-30 {
  @apply border-warning-yellow/30;
}
.bordered--dark-blue-30 {
  @apply border-dark-blue/30;
}
.bordered--white-30 {
  @apply border-white/30;
}
.bordered--rich-black-30 {
  @apply border-rich-black/30;
}
.bordered--black-russian-30 {
  @apply border-black-russian/30;
}
.bordered--fluorescent-cyan-30 {
  @apply border-fluorescent-cyan/30;
}
.bordered--electric-purple-30 {
  @apply border-electric-purple/30;
}
.bordered--giants-orange-30 {
  @apply border-giants-orange/30;
}
.bordered--tertiary-blue-30 {
  @apply border-tertiary-blue/30;
}
.bordered--main-green-20 {
  @apply border-main-green/20;
}
.bordered--main-dark-blue-20 {
  @apply border-main-dark-blue/20;
}
.bordered--error-red-20 {
  @apply border-error-red/20;
}
.bordered--warning-yellow-20 {
  @apply border-warning-yellow/20;
}
.bordered--dark-blue-20 {
  @apply border-dark-blue/20;
}
.bordered--white-20 {
  @apply border-white/20;
}
.bordered--rich-black-20 {
  @apply border-rich-black/20;
}
.bordered--black-russian-20 {
  @apply border-black-russian/20;
}
.bordered--fluorescent-cyan-20 {
  @apply border-fluorescent-cyan/20;
}
.bordered--electric-purple-20 {
  @apply border-electric-purple/20;
}
.bordered--giants-orange-20 {
  @apply border-giants-orange/20;
}
.bordered--tertiary-blue-20 {
  @apply border-tertiary-blue/20;
}
.bordered--main-dark-blue-15 {
  @apply border-main-dark-blue/15;
}
.bordered--white-15 {
  @apply border-white/15;
}
.bordered--rich-black-15 {
  @apply border-rich-black/15;
}
.bordered--black-russian-15 {
  @apply border-black-russian/15;
}
.bordered--fluorescent-cyan-15 {
  @apply border-fluorescent-cyan/15;
}
.bordered--electric-purple-15 {
  @apply border-electric-purple/15;
}
.bordered--giants-orange-15 {
  @apply border-giants-orange/15;
}
.bordered--tertiary-blue-15 {
  @apply border-tertiary-blue/15;
}
.bordered--main-dark-blue-10 {
  @apply border-main-dark-blue/10;
}
.bordered--white-10 {
  @apply border-white/10;
}
.bordered--rich-black-10 {
  @apply border-rich-black/10;
}
.bordered--black-russian-10 {
  @apply border-black-russian/10;
}
.bordered--fluorescent-cyan-10 {
  @apply border-fluorescent-cyan/10;
}
.bordered--electric-purple-10 {
  @apply border-electric-purple/10;
}
.bordered--giants-orange-10 {
  @apply border-giants-orange/10;
}
.bordered--tertiary-blue-10 {
  @apply border-tertiary-blue/10;
}
.error-message {
  @apply absolute -bottom-5 text-error-red text-xs px-2 w-max;
}

.padded {
  @apply px-2 py-2.5;
}
.text--error-red {
  @apply text-error-red;
}
.text--error-red-70 {
  @apply text-error-red/70;
}
.text--white {
  @apply text-white;
}
.text--white-70 {
  @apply text-white/70;
}
.text--dark-green {
  @apply text-dark-green;
}
.text--dark-green-70 {
  @apply text-dark-green/70;
}
.text--main-green {
  @apply text-main-green;
}
.text--main-green-70 {
  @apply text-main-green/70;
}
.text--light-green {
  @apply text-light-green;
}
.text--light-green-70 {
  @apply text-light-green/70;
}
.text--main-dark-blue {
  @apply text-main-dark-blue;
}
.text--main-dark-blue-70 {
  @apply text-main-dark-blue/70;
}
.text--light-blue {
  @apply text-light-blue;
}
.text--light-blue-70 {
  @apply text-light-blue/70;
}
.text--rich-black {
  @apply text-rich-black;
}
.text--black-russian {
  @apply text-black-russian;
}
.text--fluorescent-cyan {
  @apply text-fluorescent-cyan;
}
.text--giants-orange {
  @apply text-giants-orange;
}
.text--electric-purple {
  @apply text-electric-purple;
}
.text--tertiary-blue {
 @apply text-tertiary-blue;
}
.text--warning-yellow {
  @apply text-warning-yellow;
 }

.text--rich-black-70 {
  @apply text-rich-black/70;
}
.text--black-russian-70 {
  @apply text-black-russian/70;
}
.text--fluorescent-cyan-70 {
  @apply text-fluorescent-cyan/70;
}
.text--giants-orange-70 {
  @apply text-giants-orange/70;
}
.text--electric-purple-70 {
  @apply text-electric-purple/70;
}
.text--base {
  @apply text-base;
}
.text--xs {
  @apply text-xs;
}



.background-color-main-green {
  @apply bg-main-green;
}
.background-color-light-green {
  @apply bg-light-green;
}
.background-color-dark-green {
  @apply bg-dark-green;
}
.background-color-main-dark-blue{
  @apply bg-main-dark-blue;
}
.background-color-dark-blue {
  @apply bg-dark-blue;
}
.background-color-light-blue {
  @apply bg-light-blue;
}
.background-color-white{
  @apply bg-white;
}
.background-color-error-red{
  @apply bg-error-red;
}
.background-color-tertiary-blue{
  @apply bg-tertiary-blue;
}
.background-color-warning-yellow {
  @apply bg-warning-yellow;
}
.background-color-rich-black {
  @apply bg-rich-black;
}
.background-color-fluorescent-cyan {
  @apply bg-fluorescent-cyan;
}
.background-color-giants-orange {
  @apply bg-giants-orange;
}
.background-color-electric-purple {
  @apply bg-electric-purple;
}
.background-color-black-russian {
  @apply bg-black-russian;
}

.background-color-night {
  @apply bg-night;
}
.background-color-anti-flash-white {
  @apply bg-anti-flash-white;
}
.background-color-fire-engine-red {
  @apply bg-fire-engine-red;
}
.background-color-alternate-rich-black {
  @apply bg-alternate-rich-black;
}
.background-color-transparent{
  @apply bg-transparent;
}
.background-color-opaque-100 {
  @apply bg-opacity-100 !important;
}
.background-color-opaque-70 {
  @apply bg-opacity-70 !important;
}
.background-color-opaque-60 {
  @apply bg-opacity-60 !important;
}
.background-color-opaque-30 {
  @apply bg-opacity-30 !important;
}
.background-color-opaque-20 {
  @apply bg-opacity-20 !important;
}
.background-color-opaque-15 {
  @apply bg-opacity-15 !important;
}
.background-color-opaque-10 {
  @apply bg-opacity-10 !important;
}
.apply-opacity-30 {
  @apply opacity-30;
}
.padding--none {
  @apply p-0;
}
.padding--small {
  @apply p-1;
}
.padding--medium {
  @apply p-2;
}
.padding--large {
  @apply p-4;
}
.padding--extra-large {
  @apply p-6;
}
.hover-background-color-opaque-main-green {
  @apply hover:bg-main-green hover:bg-opacity-15;
}
.hover-background-color-opaque-light-green {
  @apply hover:bg-light-green hover:bg-opacity-15;
}
.hover-background-color-opaque-dark-green {
  @apply hover:bg-dark-green hover:bg-opacity-15;
}
.hover-background-color-opaque-main-dark-blue{
  @apply hover:bg-main-dark-blue hover:bg-opacity-10;
}
.hover-background-color-opaque-dark-blue {
  @apply hover:bg-dark-blue hover:bg-opacity-15;
}
.hover-background-color-opaque-light-blue {
  @apply hover:bg-light-blue hover:bg-opacity-15;
}
.hover-background-color-opaque-white{
  @apply hover:bg-white hover:bg-opacity-15;
}
.hover-background-color-opaque-error-red{
  @apply hover:bg-error-red hover:bg-opacity-15;
}
.hover-background-color-opaque-tertiary-blue{
  @apply hover:bg-tertiary-blue hover:bg-opacity-15;
}
.hover-background-color-opaque-rich-black{
  @apply hover:bg-rich-black hover:bg-opacity-15;
}
.hover-background-color-opaque-black-russian{
  @apply hover:bg-black-russian hover:bg-opacity-15;
}
.hover-background-color-opaque-fluorescent-cyan{
  @apply hover:bg-fluorescent-cyan hover:bg-opacity-15;
}
.hover-background-color-opaque-giants-orange{
  @apply hover:bg-giants-orange hover:bg-opacity-15;
}
.hover-background-color-opaque-electric-purple{
  @apply hover:bg-electric-purple hover:bg-opacity-15;
}
.hover-background-color-opaque-night{
  @apply hover:bg-night hover:bg-opacity-15;
}
.selected-background-color-main-green {
  @apply !bg-main-green bg-opacity-15 !important;
}
.selected-background-color-light-green {
  @apply !bg-light-green bg-opacity-15 !important;
}
.selected-background-color-dark-green {
  @apply !bg-dark-green bg-opacity-15 !important;
}
.selected-background-color-main-dark-blue{
  @apply !bg-main-dark-blue bg-opacity-10;
}
.selected-background-color-dark-blue {
  @apply !bg-dark-blue bg-opacity-15;
}
.selected-background-color-light-blue {
  @apply !bg-light-blue bg-opacity-15;
}
.selected-background-color-rich-black {
  @apply !bg-rich-black bg-opacity-15;
}
.selected-background-color-black-russian {
  @apply !bg-black-russian bg-opacity-15;
}
.selected-background-color-fluorescent-cyan {
  @apply !bg-fluorescent-cyan bg-opacity-15;
}
.selected-background-color-electric-purple {
  @apply !bg-electric-purple bg-opacity-15;
}
.selected-background-color-giants-orange {
  @apply !bg-giants-orange bg-opacity-15;
}
.selected-background-color-night {
  @apply !bg-night bg-opacity-15;
}
.selected-background-color-white{
  @apply !bg-white bg-opacity-15;
}
.selected-background-color-error-red{
  @apply !bg-error-red bg-opacity-15;
}
.selected-background-color-tertiary-blue{
  @apply !bg-tertiary-blue bg-opacity-15;
}

.fontSemiBold {
  @apply font-semibold;
}
.fontLight {
  @apply font-light;
}
.fullWidth {
  @apply w-full;
}