.login-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 703;
  border-radius: 0.2em;
  cursor: pointer;
  line-height: 2em;
  color: #0F1217;
  width: 13em;
  height: 2.5em;
  background-color: #21F190;
}
