.blur {
  @apply fixed top-0 left-0 w-full h-screen z-20;
  background-color: rgba(0, 0, 0, 0.95);
}
.blur-absolute {
  @apply absolute top-0 left-0 w-full h-full z-20 bg-rich-black/95;
}
.blur-fixed {
  @apply fixed top-0 left-0 w-screen h-full z-20 bg-rich-black/95 flex justify-center items-center;
}
.fixedContainer {
  @apply fixed top-0 left-0 w-full h-screen z-20;
}
.content {
  @apply fixed top-0 h-[100vH] flex justify-center items-center;
}

.container {
  @apply z-20;
}
.centered {
  @apply fixed top-[50%] left-[50%];
  transform: translate(-50%, -50%);
}
.modal {
  @apply p-4 rounded-md mx-auto my-auto max-h-[85vh] overflow-y-auto;
}
.modalDefaultFlex {
  @apply flex flex-col gap-y-2;
}
.modal--popup-v2 {
  @apply bg-rich-black border border-solid;
  border-color: rgba(255, 255, 255, .3);
}
.modal--popup {
  @apply bg-light-blue;
}
.fullscreen {
  @apply fixed top-0 left-0 h-screen w-full min-h-screen min-w-full overflow-y-auto;
}
.header--popup-v2,
.header--popup {
  @apply flex justify-between items-center;
}
.header--full-rich-black-v2,
.header--full-rich-black,
.header--full-dark,
.header--full-light,
.header--cover {
  @apply flex justify-end;
}
.hr {
  @apply text-[#00283D] my-2 opacity-20;
}
.title {
  @apply font-bold text-[20px];
}
.content--full-rich-black-v2,
.content--full-rich-black,
.content--full-dark,
.header--full-light,
.content--cover {
  @apply h-auto w-auto p-4 md:pt-4 md:pb-10 md:px-40;
}
.title--cover {
  @apply inline-flex items-center;
}
.modal--small {
  @apply w-auto md:min-w-[480px] md:max-w-[480px];
}
.modal--medium {
  @apply w-[calc(100vW-2rem)] md:min-w-[480px] md:max-w-[480px] lg:min-w-[880px] lg:max-w-[880px];
}
.modal--full-width {
  @apply w-screen min-w-full;
}
.close--full-dark,
.header--full-light,
.close--cover {
  @apply mt-4 mr-4;
}

