.blur {
  @apply absolute top-0 left-0 w-full h-full translate-x-[-50%] translate-y-[-50%] z-10 bg-rich-black/75;
}
.container {
  @apply z-20;
}
.modalLeftCover {
  @apply fixed top-0 -right-[100%] max-w-[75%] min-w-[75%] overflow-y-auto w-full min-h-full h-full;
}
.modalLeftCoverEntering {
  animation: come-in 400ms forwards;
}
.modalLeftCoverLeaving {
  animation: come-out 200ms forwards;
}
.headerClassName {
  @apply flex items-center gap-x-2 pb-4;
}
.modalLefty {
  @apply py-20 px-[7.5rem] bg-rich-black border-solid border-white border-l;
  height: calc(100% - 10rem);
}

@keyframes come-in {
  from {right: -100%}
  to {right: 0%}
}

@keyframes come-out {
  from {right: 0%}
  to {right: -100%}
}