.container {
  @apply max-w-[216px] w-full p-4 border border-white rounded-md h-auto relative min-h-[80vh] z-10 bg-dark-blue flex flex-col gap-y-6 justify-between;
  transition: max-width 0.2s linear;
}
.content {
  @apply flex flex-col justify-between
} 
.collapsed {
  @apply max-w-[96px] text-center;
}
.buttonExpand {
  @apply border rounded-md p-1 border-white hover:bg-white hover:bg-opacity-20;
}
.buttonSettings {
  @apply border rounded-md p-1 border-white hover:bg-white hover:bg-opacity-20;
}
.buttonCollapse {
  @apply absolute right-[-0.875rem] border-0 z-20 bg-main-dark-blue; 
  /* Override tailwind dist button[type='button]: background: transparent*/
  top: 1rem;
}
.title {
  @apply text-white font-semibold pb-6;
}
.titleCollapsed {
  @apply text-white text-[10px] pt-2 pb-6;
}
.buttonItem {
  @apply flex items-center justify-start border-0 rounded-md w-full py-1 hover:bg-white hover:bg-opacity-20;
}
.buttonCreate {
  @apply flex items-center justify-start border-0 w-full pt-1 pb-4 cursor-pointer whitespace-nowrap;
}
.hoverSemibold {
  @apply hover:font-semibold;
}
.disabled {
  @apply opacity-30 cursor-default;
}
.buttonItemCollapsed {
  @apply w-auto;
}
.item {
  @apply text-white ml-2 grow-0 text-left flex flex-col;
  width: calc(100% - 28px)
}
.itemSubTitle {
  @apply text-[10px] leading-[10px]; 
}
.itemTitle{
  @apply text-xs text-ellipsis overflow-hidden whitespace-nowrap;
}

.itemSelected {
  @apply text-light-green;
}
.items {
  @apply flex flex-col gap-y-4;
}
.titleSettings {
  @apply text-white font-semibold ml-3;
}
.buttonSettingsExpanded {
  @apply flex items-center justify-center w-full;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
