.container {
  @apply flex flex-col gap-y-10
}
.tabs-header {
  @apply flex justify-start items-center gap-x-0;
}
.tabs-content {
  @apply min-h-screen
}
.tab::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}