/* Wrapping */
.tooltipWrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.tooltipTip {
  position: absolute;
  border-radius: 4px;
}

.tooltipTipBaseClass {
  @apply text-rich-black bg-white p-2 font-sans text-sm z-20 rounded;
  white-space: nowrap;
}

/* CSS border triangles */
.tooltipTip::before {
  content: " ";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: calc(6px * -1);
}
.start {
  left: 0%;
}
.start::before {
  left: 12px;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}
.end {
  left: 100%;
  transform: translateX(-100%);
}

/* CSS border triangles */
.top::before {
  top: 100%;
  border-top-color: white;
}

/* Absolute positioning */
.right {
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.right::before {
  left: calc(6px * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}

/* CSS border triangles */
.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.left {
  left: auto;
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.left::before {
  left: auto;
  right: calc(6px * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}
