/* Wrapping */
.tooltipWrapper {
  display: inline-block;
  position: relative;
}

/* Fixed positioning */
.tooltipTip {
  position: fixed;
  border-radius: 4px;
}

.tooltipTipBaseClass {
  @apply text-rich-black bg-white p-2 font-sans text-sm z-20 rounded;
  white-space: nowrap;
}

/* CSS border triangles */
.tooltipTip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-left: calc(6px * -1); 
}

/* CSS border triangles */
.top::before {
  @apply border-t-white;
  top: 100%;
}

/* Absolute positioning */
.right {
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.right::before {
  @apply border-r-white;
  left: calc(6px * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.bottom::before {
  @apply border-b-white;
  bottom: 100%;
}

/* Absolute positioning */
.left {
  left: auto;
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.left::before {
  @apply border-l-white;
  left: calc(100% + 6px);
  right: calc(6px * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
