
.pltTooltipText {
  @apply bg-white text-rich-black text-center p-2;
  visibility: hidden;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.pltTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.pltTooltipTextVisible {
  visibility: visible;
  opacity: 1;
}