.rich-black > circle,
.rich-black > ellipse,
.rich-black > rect,
.rich-black > line, 
.rich-black > path {
  @apply stroke-rich-black;
}

.important-rich-black > circle,
.important-rich-black > ellipse,
.important-rich-black > rect,
.important-rich-black > line, 
.important-rich-black > path {
  @apply !stroke-rich-black;
}

.error-red > circle,
.error-red > ellipse,
.error-red > rect,
.error-red > line, 
.error-red > path {
  @apply stroke-error-red;
}

.important-error-red > circle,
.important-error-red > ellipse,
.important-error-red > rect,
.important-error-red > line, 
.important-error-red > path {
  @apply !stroke-error-red;
}

.main-dark-blue > circle,
.main-dark-blue > ellipse,
.main-dark-blue > rect,
.main-dark-blue > line,
.main-dark-blue > path {
  @apply stroke-main-dark-blue;
}

.important-main-dark-blue > circle,
.important-main-dark-blue > ellipse,
.important-main-dark-blue > rect,
.important-main-dark-blue > line,
.important-main-dark-blue > path {
  @apply !stroke-main-dark-blue;
}

.main-green > circle,
.main-green > ellipse,
.main-green > rect, 
.main-green > line, 
.main-green > path {
  @apply stroke-main-green;
}

.important-main-green > circle,
.important-main-green > ellipse,
.important-main-green > rect, 
.important-main-green > line, 
.important-main-green > path {
  @apply !stroke-main-green;
}

.tertiary-blue > circle,
.tertiary-blue > ellipse,
.tertiary-blue > rect,
.tertiary-blue > line,
.tertiary-blue > path {
  @apply stroke-tertiary-blue;
}

.important-tertiary-blue > circle,
.important-tertiary-blue > ellipse,
.important-tertiary-blue > rect,
.important-tertiary-blue > line,
.important-tertiary-blue > path {
  @apply !stroke-tertiary-blue;
}

.warning-yellow > circle,
.warning-yellow > ellipse,
.warning-yellow > rect,
.warning-yellow > line,
.warning-yellow > path {
  @apply stroke-warning-yellow;
}

.important-warning-yellow > circle,
.important-warning-yellow > ellipse,
.important-warning-yellow > rect,
.important-warning-yellow > line,
.important-warning-yellow > path {
  @apply !stroke-warning-yellow;
}

.white > circle,
.white > ellipse,
.white > rect,
.white > line,
.white > path {
  @apply stroke-white;
}

.important-white > circle,
.important-white > ellipse,
.important-white > rect,
.important-white > line,
.important-white > path {
  @apply !stroke-white;
}

.fluorescent-cyan > circle,
.fluorescent-cyan > ellipse,
.fluorescent-cyan > rect,
.fluorescent-cyan > line, 
.fluorescent-cyan > path {
  @apply stroke-fluorescent-cyan;
}

.important-fluorescent-cyan > circle,
.important-fluorescent-cyan > ellipse,
.important-fluorescent-cyan > rect,
.important-fluorescent-cyan > line, 
.important-fluorescent-cyan > path {
  @apply !stroke-fluorescent-cyan;
}


.giants-orange > circle,
.giants-orange > ellipse,
.giants-orange > rect,
.giants-orange > line, 
.giants-orange > path {
  @apply stroke-giants-orange;
}

.important-giants-orange > circle,
.important-giants-orange > ellipse,
.important-giants-orange > rect,
.important-giants-orange > line, 
.important-giants-orange > path {
  @apply !stroke-giants-orange;
}


.electric-purple > circle,
.electric-purple > ellipse,
.electric-purple > rect,
.electric-purple > line, 
.electric-purple > path {
  @apply stroke-electric-purple;
}

.important-electric-purple > circle,
.important-electric-purple > ellipse,
.important-electric-purple > rect,
.important-electric-purple > line, 
.important-electric-purple > path {
  @apply !stroke-electric-purple;
}


.filled-rich-black {
  @apply fill-rich-black;
}
.filled-white {
  @apply fill-white;
}
.filled-error-red{
  @apply fill-error-red;
}
.filled-main-dark-blue {
  @apply fill-main-dark-blue ;
}
.filled-main-green {
  @apply fill-main-green ;
}
.filled-warning-yellow {
  @apply fill-warning-yellow ;
}
.filled-tertiary-blue {
  @apply fill-tertiary-blue;
}
.filled-fluorescent-cyan {
  @apply fill-fluorescent-cyan;
}
.filled-giants-orange {
  @apply fill-giants-orange;
}
.filled-electric-purple {
  @apply fill-electric-purple;
}


.fill-circle-green > circle {
  @apply fill-white;
}
.fill-circle-main-dark-blue > circle {
  @apply fill-main-dark-blue;
}
.svgClassName {
  @apply block shrink-0;
  overflow-clip-margin: unset;
}

.iconDisabled {
  @apply opacity-30;
}

.iconInactive {
  @apply opacity-70;
}

.strokeTransparent {
  stroke: transparent !important;
}