.container {
  @apply flex flex-col w-full relative;
}
.content,
.inputContainer {
  @apply flex w-full relative z-20 gap-x-2 items-center;
}
.input {
  padding-block: 0px;
  padding-inline: 0px;
  @apply border border-solid box-border rounded px-2 z-10;
}
.inputDefaultVerticalPadding {
  @apply py-2.5;
}
.afterInputDetail,
.beforeInputIcon {
  @apply absolute top-[50%] z-20;
  transform: translateY(-50%);
}
.beforeInputIcon {
  @apply left-0 ml-2
}
.afterInputDetail {
  @apply right-0 mr-2 cursor-pointer
}
.beforeIconPadding {
  @apply pl-8
}
.afterIconPadding {
  @apply pr-8
}
.color-main-dark-blue {
  @apply text-main-dark-blue;
}
.color-error-red{
  @apply text-error-red;
}
.color-white{
  @apply text-white;
}
.paddingFocused {
  @apply p-4;
}
.placeholderAPart {
  @apply absolute top-[50%] right-0 translate-y-[-50%] left-0 text-main-dark-blue text-opacity-20 ml-2 z-0;
}
.input.active,
.input:focus {
  outline: none;
}
.inputPlaceholderClassName {
  @apply opacity-30;
}