.chunkContent {
  @apply flex gap-x-2 w-full items-center;
}
.chunkText {
  @apply text-[14px] leading-[17px] !important ;
}
.inputContainer {
  @apply flex min-h-[40px] border border-solid box-border rounded items-center gap-2 flex-wrap relative grow px-2;
}
.input {
  @apply h-full m-0 border-0;
  padding-block: 0;
  padding-inline: 0;
  background: inherit;
}
.smallPadding {
  @apply p-1 !important
}
.flexNone {
  @apply flex-none !important;
}
.noGrow {
  @apply grow-0
}
.smallMargin {
  @apply my-0;
}
.iconContainer {
  @apply absolute top-[14px] right-[0.5rem]
}
.container {
  @apply flex w-full items-center;
}

.input.active,
.input:focus {
  outline: none;
}
.chunkClasses {
  @apply flex-none p-2 my-0 border-0 !important;
}