.container {
  @apply flex flex-col w-full relative
}
.selectContainer {
  @apply w-full flex items-center relative z-10 gap-x-2 border border-solid box-border rounded;
}
.defaultPaddingClass {
  @apply py-1.5 px-2 md:px-3 md:py-[10.5px];
}
.select {
  @apply h-full border-none rounded truncate w-[calc(100%-1rem)];
}
.select-main-dark-blue input.active,
.select-main-dark-blue input:focus {
  @apply shadow-main-dark-blue outline-none;
}
.select-white input.active,
.select-white input:focus {
  @apply outline-none;
}
.options {
  @apply absolute left-0 top-[42px] w-full max-h-[216px] overflow-y-auto z-20 p-2 box-border;
}
.bordered-options {
  @apply border border-solid rounded
}
.option {
  @apply cursor-pointer z-10 flex flex-row justify-between items-center px-4 rounded;
}
.bordered-bottom {
  @apply border-b
}
.icons {
  @apply absolute top-[50%] right-[0.5rem] flex gap-x-2;
  transform: translateY(-50%);
}
.liContent {
  @apply py-2 flex items-center gap-x-1 relative z-[-1] w-full;
}
.liContent > span {
  @apply truncate;
}
.descriptionValue {
  @apply opacity-70;
}